@page "/saleproperty"
@using System.ComponentModel.DataAnnotations
@using RealEstate.Web.Shared.PropertyModels
<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">№1 място за продажба на вашият имот</h1>
                    <p class="mb-4">
                        Ако сте решени да продадете вашия имот, ние сме тук, за да ви помогнем да направите този процес лесен, бърз и успешен. Нашият уебсайт е най-популярната дестинация за хора, които търсят недвижими имоти, и това означава, че вашият имот ще получи най-голямата възможна видимост.
                        Защо да изберете нас за продажба на вашия имот? Ето няколко от основните предимства:
                    </p>
                    <p><i class="fa fa-check text-primary me-3"></i>Голяма аудитория от потенциални купувачи</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Експертно съдействие от нашия екип</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Персонализиран подход</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Бързи и ефективни резултати</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded p-3">
                <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <h1 class="mb-3">Продай имота си по-бързо от другите, без да губиш пари.</h1>
                        <span>
                            Когато продавате, винаги искате да знаете каква е цената. Попълнете формата и ни я изпратете. Наш консултант ще се свърже с Вас. Винаги искайте Вашият имот да бъде ексклузивен. Това ще Ви направи наш специален клиент.
                        </span>
                    </div>
                    <div class="row g-4">


                        <div class="col-lg-6">
                            <h6>
                                Какво получаваш с Adresimo?
                            </h6>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="card" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="card-body">
                                            <h6>Спечели повече пари</h6>
                                            <span>Ще получаваш сравнителен пазарен анализ, за да се ориентираш в цените на имотите в твоя район. Заедно ще определим твоята цена и така ще продадеш с по-добра печалба.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="card" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="card-body">
                                            <h6>Продай по-бързо</h6>
                                            <span>
                                                Всяка седмица при нас се регистрират над 500 купувача и във всеки един момент знаем кой точно ще хареса твоя имот. Това ще спести време.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="card" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="card-body">
                                            <h6>Спечели повече свободно време</h6>
                                            <span>
                                                Ще работиш с 1 консултант, а той - с още 500. Той ще организира огледите и ще поеме вместо теб всички обаждания на купувачите и техните брокери.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="card" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="card-body">
                                            <h6>Бъди спокоен и сигурен, че няма да сгрешиш</h6>
                                            <span>
                                                Няма да бъдеш сам в преговорите и екип от собствени юристи ще се погрижи да събере всички документи, за да подсигури сделката.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h6>
                                Попълнете формата или се свържете с нас на
                                 <span> <a href="tel:+0897212403" style="text-decoration: none">0897 212 403</a></span>
                            </h6>
                            <EditForm EditContext="@_editContext" OnValidSubmit="HandleOnValidSubmit">
                                <DataAnnotationsValidator />
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="town">Град:</label>
                                        <InputText id="town" class="form-control" @bind-Value="customerAddress.Town" />
                                        <ValidationMessage For="@(() => customerAddress.Town)" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="distinct">Квартал:</label>
                                        <InputText id="distinct" class="form-control" @bind-Value="customerAddress.District" DisplayName="Address" />
                                        <ValidationMessage For="@(() => customerAddress.District)" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="type">Тип имот:</label>
                                        <InputText id="type" class="form-control" @bind-Value="customerAddress.TypeProperty" DisplayName="Address" />
                                        <ValidationMessage For="@(() => customerAddress.TypeProperty)" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="phone">Телефон:</label>
                                        <InputText id="phone" class="form-control" @bind-Value="customerAddress.Phone" DisplayName="Address" />
                                        <ValidationMessage For="@(() => customerAddress.Phone)" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="price">Желана цена:</label>
                                        <InputText id="price" class="form-control" @bind-Value="customerAddress.Price" DisplayName="Address" />
                                        <ValidationMessage For="@(() => customerAddress.Price)" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="area">Площ:</label>
                                        <InputText id="area" class="form-control" @bind-Value="customerAddress.Area" DisplayName="Address" />
                                        <ValidationMessage For="@(() => customerAddress.Area)" />
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <div class="col-md-6">
                                        <label for="email">Имейл:</label>
                                        <InputText id="email" class="form-control" @bind-Value="customerAddress.Email" DisplayName="Address" />
                                        <ValidationMessage For="@(() => customerAddress.Email)" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="name">Име:</label>
                                        <InputText id="name" class="form-control" @bind-Value="customerAddress.Names" DisplayName="Address" />
                                        <ValidationMessage For="@(() => customerAddress.Names)" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right" style="margin-top:20px;">
                                        <button type="submit" class="btn btn-success float-right btn-lg">Изпрати</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded p-3">
                <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                    <div style="text-align: center">
                        <h3>Хора като теб, които ни се довериха</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="card" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; border: 1px dashed rgba(0, 185, 142, .3)">
                                <div class="card-body">
                                    <p>“Бях пуснала обява за продажба и ми се обади консултант на Adresimo. Обеща ми много неща, изпълни ги и даже успя да продаде апартамента ми за по-малко от месец. Случи се, защото той ми помогна да определя точната цена, иначе щях да сигурно да чакам цяла година. Ако продавам пак, със сигурност ще се обадя на Adresimo."</p>
                                    <p style="font-weight: bold;">
                                        Таня Георгиева<br>
                                        София
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
                                <div class="card-body">
                                    <p>“Бях пуснала обява за продажба и ми се обади консултант на Adresimo. Обеща ми много неща, изпълни ги и даже успя да продаде апартамента ми за по-малко от месец. Случи се, защото той ми помогна да определя точната цена, иначе щях да сигурно да чакам цяла година. Ако продавам пак, със сигурност ще се обадя на Adresimo."</p>
                                    <p style="font-weight: bold;">
                                        Таня Георгиева<br>
                                        София
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
                                <div class="card-body">
                                    <p>“Бях пуснала обява за продажба и ми се обади консултант на Adresimo. Обеща ми много неща, изпълни ги и даже успя да продаде апартамента ми за по-малко от месец. Случи се, защото той ми помогна да определя точната цена, иначе щях да сигурно да чакам цяла година. Ако продавам пак, със сигурност ще се обадя на Adresimo."</p>
                                    <p style="font-weight: bold;">
                                        Таня Георгиева<br>
                                        София
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <Accordion>
                            <AccordionItem Title="КОЛКО СТРУВА ДАНЪЧНА ОЦЕНКА НА ИМОТ?">
                                <Content>
                                    Удостоверението за данъчна оценка на имот в България се издава за около две седмици след подаване на заявлението. Услугата се предоставя от отдел „Местни данъци и такси“ на съответната община, район, кметство по местонахождение на имота.
                                    Стандартната цена е около 17 лв. за Столична община. Срещу допълнително заплащане се предлагат бърза и експресна услуга, при които документът може да бъде получен в рамките на един или два дни.
                                    За бърза услуга, таксата е между 10 лв. и 20 лв. като за гр. София е 25.5 лв.
                                    За експресна услуга, таксата е между 20лв. и 40 лв. като за гр. София е 34 лв.
                                </Content>
                            </AccordionItem>
                            <AccordionItem Title="КАКВО ПРЕДСТАВЛЯВА ДОГОВОРА ЗА ИЗКЛЮЧИТЕЛНО ПРЕДИМСТВО?">
                                <Content>
                                    Ексклузивният договор (или договор за изключително предимство) се сключва между продавач на имот и агенция, като посредством него се реализира предоставянето на права за продажба на имот върху конкретна агенция и определен агент на недвижими имоти. Договорът за изключително предимство на първо място е ангажимент, който собственикът възлага на една единствена агенция, а тя, от своя страна, се наема със задачата да открие нов собственик за жилището. Чрез договора за изключително предимство правата се предоставят на конкретна агенция, която следва да го реализира на пазара, представяйки го пред потенциални купувачи по начин и с механизми, които не могат да бъдат приложени без наличието на този договор.
                                </Content>
                            </AccordionItem>
                            <AccordionItem Title="НЕОБХОДИМ ЛИ Е ПРЕДВАРИТЕЛЕН ДОГОВОР ЗА ПРОДАЖБА НА ИМОТ?">
                                <Content>
                                    Предварителният договор за покупко-продажба на недвижим имот е стандартна практика. Тя обаче не е задължителна, а по скоро е обект на доброволна, предварителна уговорка между страните. Обикновено той се подписва, за да може и двете страни да си гарантират бързо и безпроблемно сключване на сделката.
                                    Трябва да се има предвид, че той служи предимно за постигане на сигурност за всяка от страните – купувач и продавач, заявявайки сериозните им намерения и не ги обвързва с твърде конкретни параметри на предстоящата сделка.
                                </Content>
                            </AccordionItem>
                            <AccordionItem Title="КАК СЕ ОПРЕДЕЛЯ ПАЗАРНА ЦЕНА НА ИМОТ?">
                                <Content>
                                    Пазарната цена на даден имот в България се определя чрез пазарна оценка, извършена от лицензирани оценители. Те вземат предвид фактори като местоположение, размер, състояние и цени на сходни имоти. Пазарната цена отразява приблизителната стойност на имота при настоящите условия на пазара на недвижими имоти.
                                </Content>
                            </AccordionItem>
                        </Accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <RealEstate.Web.Client.Components.Footer></RealEstate.Web.Client.Components.Footer>
</div>
<style>
    .valid.modified:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }

    .invalid {
        outline: 1px solid red;
    }

    .validation-message {
        color: red;
    }
</style>
@code {
    private RequestModel customerAddress = new();
    private EditContext _editContext;


    protected override void OnInitialized()
    {
        _editContext = new EditContext(customerAddress);
        base.OnInitialized();
    }

    public async Task HandleOnValidSubmit()
    {
        Http = ClientFactory.CreateClient("RealEstate.Web.ServerAPI.NoAuthenticationClient");
        var status = await Http.PostAsJsonAsync<RequestModel>("Administration/SendRequest", customerAddress);
        if (status.IsSuccessStatusCode)
        {
            customerAddress = new();
        }
    }



    public class CustomerAddress
    {
        [Required]
        public string? Town { get; set; }
        [Required]
        public string? District { get; set; }
        [Required]
        public string? TypeProperty { get; set; }
        [Required]
        public string? Phone { get; set; }
        [Required]
        public string? Price { get; set; }
        [Required]
        public string? Area { get; set; }
        [Required]
        public string? Email { get; set; }
        [Required]
        public string? Names { get; set; }
    }
}