@page "/administration"
@using Microsoft.AspNetCore.Authorization
@using RealEstate.Web.Shared.PropertyModels

<AuthorizeView Roles="Administrator" Context="NewTab">
    <Authorized>
        <div class="container-xxl bg-white p-0">
            <div class="row g-2">
                <div class="col">
                    <h2 class="text-center">Администрация</h2>
                    @if (notifi == null)
                    {
                        <RealEstate.Web.Client.Components.Spiner></RealEstate.Web.Client.Components.Spiner>
                    }
                    else
                    {
                        <Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />
                        <Toasts class="p-3" Messages="requests" Placement="ToastsPlacement.TopLeft" />
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6">
                                @if (notifi?.Requests != null)
                                {
                                    <div class="d-grid gap-2">
                                        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="() => ShowRequest(ToastType.Secondary)">
                                            Заявки <Badge Color="BadgeColor.Danger">@notifi?.Requests.Count()</Badge>
                                        </Button>
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                @if (notifi?.Messages != null)
                                {
                                    <div class="d-grid gap-2">
                                        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="() => ShowMessage(ToastType.Secondary)">
                                            Съобщения <Badge Color="BadgeColor.Danger">@notifi?.Messages.Count()</Badge>
                                        </Button>

                                    </div>
                                }

                            </div>
                        </div>
                        <div class="row">
                        </div>
                    }
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                @if (properties ==  null)
                {
                    <RealEstate.Web.Client.Components.Spiner></RealEstate.Web.Client.Components.Spiner>
                }else
                {
                        <Grid TItem="PropertyViewModel" class="table table-hover table-bordered table-striped" DataProvider="EmployeesDataProvider" AllowFiltering="true" Responsive="true" ItemsPerPageText="10" AllowPaging="true"  PageSize="20" AllowSorting="true">
    <GridColumn TItem="PropertyViewModel" HeaderText="Id" PropertyName="Id" SortKeySelector="item => item.Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="PropertyViewModel" HeaderText="Град" PropertyName="TownName" StringComparison="StringComparison.Ordinal" SortKeySelector="item => item.TownName">
        @context.TownName
    </GridColumn>
    <GridColumn TItem="PropertyViewModel" HeaderText="Квартал" PropertyName="DistrictName" SortKeySelector="item => item.DistrictName">
        @context.DistrictName
    </GridColumn>
     <GridColumn TItem="PropertyViewModel" HeaderText="Тип" PropertyName="PropertyTypeName" SortKeySelector="item => item.PropertyTypeName">
        @context.PropertyTypeName
    </GridColumn>
    <GridColumn TItem="PropertyViewModel" HeaderText="Цена" PropertyName="Price" SortKeySelector="item => item.Price">
        @context.Price
    </GridColumn>
  
</Grid>
                }
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="container-xxl bg-white p-0">

            <div class="container-xxl py-5">
                <div class="row g-5 align-items-center">
                    <h1>Not authorize</h1>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {


    private void ShowMessage(ToastType toastType)
    {
        if (notifi.Messages.Count() > 0)
        {
            foreach (var item in notifi?.Messages)
            {
                messages.Add(CreateToastMessage(toastType, item?.Names, item?.Email, item?.Message));
            }

        }

    }
    private void ShowRequest(ToastType toastType)
    {
        if (notifi.Requests.Count() > 0)
        {
            foreach (var item in notifi.Requests)
            {
                requests.Add(CreateToastMessage(toastType, item.Names, item.Email, $"Град: {item.Town} Квадратура: {item.Area} Цена: {item.Price}"));
            }
        }

    }
    private ToastMessage CreateToastMessage(ToastType toastType, string title, string helpText, string message)
    {
        return new ToastMessage
            {
                Type = toastType,
                Title = title,
                HelpText = helpText,
                Message = message,
            };
    }

}