@page "/creаte-propery"
@using Microsoft.AspNetCore.Authorization
@using RealEstate.Web.Client.Components
@using RealEstate.Web.Shared.PropertyModels

<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="container-xxl bg-white p-0">
            <div class="row g-2">
                <div class="col">
                    <h2 class="text-center">Администрация</h2>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-6">
                    <div class="d-grid gap-2">
                        <Button Color="ButtonColor.Primary" Outline="true" @onclick="() => ChangeStatus(false)"> Създай имот </Button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-grid gap-2">
                        <Button Color="ButtonColor.Secondary" Outline="true" @onclick="() => ChangeStatus(true)"> Виж имот </Button>
                    </div>
                </div>
            </div>
            @if (updateStatus)
            {
                <div class="container-fluid bg-primary mb-5">
                    <div class="row">
                        <div class="col-md-8">
                            @if (propertyViewModels == null)
                            {
                               <RealEstate.Web.Client.Components.Spiner></RealEstate.Web.Client.Components.Spiner>
                            }
                            else
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="color: white">ID</th>                                         
                                            <th style="color: white">Цена</th>
                                            <th style="color: white">Квадратура</th>
                                            <th style="color: white">Етаж</th>
                                            <th style="color: white">Продаден</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var property in propertyViewModels)
                                        {
                                            <tr>
                                                <td style="color: white" @onclick="() => Modal.Open(property)">@property.Id</td>
                                                <td style="color: white">@property.Price</td>
                                                <td style="color: white">@property.Area</td>
                                                <td style="color: white">@property.Floor</td>
                                                <td>
                                                    <input style="color:red" type="checkbox" @bind="@property.IsSolded" @onclick="() => ToggleActive(property?.Id,property.IsSolded)" />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                        <div class="col-md-4">
                            <div class=" form-group">
                                <span style="color: white"> Град</span>
                                <select class="form-select border-0 py-3" @onchange="SelectionChanged" value="@townId">

                                    <option disabled selected value="">Изберете град</option>
                                    @foreach (var town in indexModel.Towns.OrderBy(x=>x.Name))
                                    {
                                        <option value="@town.Id">@town.Name</option>
                                    }
                                </select>
                            </div>
                            <div class=" form-group">
                                <span style="color: white"> Квартал</span>
                                <select class="form-select border-0 py-3" @onchange="GetPropertyInTown">
                                    <option selected disabled>Изберете квартал</option>
                                    @foreach (var district in districts.OrderBy(x=>x.Name))
                                    {
                                        <option value="@district.Id">@district.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                if (indexModel == null)
                {
                    <RealEstate.Web.Client.Components.Spiner></RealEstate.Web.Client.Components.Spiner>
                }
                else
                {
                    <div class="container-fluid bg-primary mb-5">
                        <div class="row">
                            <div class="col-md-8">
                                @foreach (var item in filesBase64)
                                {
                                    <div class="col-md-4">
                                        <div class="card">
                                            <img src="data:@item.contentType;base64,@item.base64data" />
                                        </div>
                                    </div>

                                }
                            </div>
                            <div class="col-md-4">
                                <EditForm Model="@inputModel" OnValidSubmit="@OnSubmit" Context="form" class="form-group" enctype="multipart/form-data">
                                    <DataAnnotationsValidator />
                                    <div class=" form-group">
                                        <span style="color: white"> Град</span>
                                        <select class="form-select border-0 py-3" @onchange="SelectionChanged" value="@inputModel.TownId">
                                            <ValidationMessage For="@(() => inputModel.TownId)" />
                                            <option disabled selected value="">Изберете град</option>
                                            @foreach (var town in indexModel.Towns)
                                            {
                                                <option value="@town.Id">@town.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <span style="color: white"> Квартал</span>
                                        <select class="form-select border-0 py-3" @bind="@inputModel.DistrictId">
                                            <ValidationMessage For="@(() => inputModel.DistrictId)" />
                                            <option selected disabled>Изберете квартал</option>
                                            @foreach (var district in districts)
                                            {
                                                <option value="@district.Id">@district.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <span style="color: white"> Тип</span>
                                        <select class="form-select border-0 py-3" @bind="@inputModel.PropertyTypeId">
                                            <ValidationMessage For="@(() => inputModel.PropertyTypeId)" />
                                            <option selected disabled>Тип имот</option>
                                            @foreach (var type in indexModel.Types)
                                            {
                                                <option value="@type.Id">@type.Name</option>
                                            }
                                        </select>
                                    </div>


                                    <div>
                                        <span style="color: white"> Отопление</span>

                                        <select class="form-select border-0 py-3" @bind="@inputModel.Heating">
                                            <option selected disabled>Отопление</option>
                                            @foreach (var heating in heatings)
                                            {
                                                <option value="@heating">@heating</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <span style="color: white"> Обзавеждане</span>
                                        <select class="form-select border-0 py-3" @bind="@inputModel.FurnishedLevel">
                                            <option selected disabled>Обзавеждане</option>
                                            @foreach (var level in furnitureLevel)
                                            {
                                                <option value="@level">@level</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <span style="color: white"> Satus</span>
                                        <select class="form-select border-0 py-3" @bind="@inputModel.Status">
                                            <option selected disabled>Статус</option>
                                            @foreach (var level in statuses)
                                            {
                                                <option value="@level">@level</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <span style="color: white">Квадратура</span>
                                        <ValidationMessage For="@(() => inputModel.Area)" />
                                        <input type="number" class="form-control border-0 py-3" @bind="@inputModel.Area">
                                    </div>
                                    <div>
                                        <span style="color: white"> Цена</span>
                                        <ValidationMessage For="@(() => inputModel.Price)" />
                                        <input type="number" class="form-control border-0 py-3" @bind="@inputModel.Price">
                                    </div>
                                    <div>
                                        <span style="color: white">Етаж</span>
                                        <ValidationMessage For="@(() => inputModel.Floor)" />
                                        <input type="text" class="form-control border-0 py-3" @bind="@inputModel.Floor">
                                    </div>
                                    <div>
                                        <span style="color: white">Описание</span>
                                        <ValidationMessage For="@(() => inputModel.Description)" />
                                        <textarea type="text" class="form-control border-0 py-3" @bind="@inputModel.Description"></textarea>
                                    </div>
                                    <div class="input-group" style="margin-top: 20px;">
                                        <div class="custom-file">
                                            <InputFile class="custom-file-input" multiple OnChange="OnChange" id="inputFile" />
                                        </div>
                                        @*  <div class="input-group-append">
                                <button class="btn btn-success" @onclick="Upload" disabled="@isDisabled">Upload</button>
                                </div>*@
                                    </div>
                                    <div class="-flex justify-content-center align-items-center marginButton">

                                        <button class="btn btn-dark  border-0 py-3" type="submit">Запази</button>
                                    </div>
                                </EditForm>
                                <div>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            }

        </div>
          <RealEstate.Web.Client.Components.EditModal @ref="Modal" OnDoneCallback="OnModalDone"></RealEstate.Web.Client.Components.EditModal>
    </Authorized>
    <NotAuthorized>
        <div class="container-xxl bg-white p-0">
            <div class="container-xxl py-5">
                <div class="row g-5 align-items-center">
                    <h1>Not authorize</h1>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
<style>
    .marginButton {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .card {
        width: 300px; /* Initial width */
        margin: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: width 0.3s ease;
    }

        /* Style for the image */
        .card img {
            width: 100%;
            height: auto;
            display: block;
        }

    /* Style for the card content */
    .card-content {
        padding: 20px;
        background-color: #f9f9f9;
    }
</style>
@code{
    private EditModal Modal { get; set; }

    private void OnModalDone(PropertyViewModel? FCModel)
    {

       
    }
}