@page "/property/{id}/{Town}"

@using RealEstate.Web.Shared.PropertyModels
<div class="container-xxl bg-white p-0">
    <div class="container-fluid header bg-white p-0" style="margin-top: 10px">
        @if (model == null)
        {
            <RealEstate.Web.Client.Components.Spiner></RealEstate.Web.Client.Components.Spiner>
        }
        else
        {
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    @if (Town != null)
                    {
                        <h1 class="display-5 animated fadeIn mb-4">

                            <span class="text-primary">@model.PropertyTypeName</span> за  продажба, @Town, @model.DistrictName
                        </h1>

                    }
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="carousel">
                        <button @onclick="Previous">&lt;</button>
                        <img src="@Images[currentIndex]" alt="carousel-image" />
                        <button @onclick="Next">&gt;</button>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="bg-light rounded p-3">
                    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                        <div class="row">
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <p class="c-secondary">
                                    Площ:
                                    <span class="bold c-secondary">
                                        @model.Area кв.м.
                                    </span>
                                </p>
                            </div> <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <p class="c-secondary">
                                    Тип Имот:
                                    <span class="bold c-secondary">
                                        @model.PropertyTypeName
                                    </span>
                                </p>
                            </div> <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <p class="c-secondary">
                                    Етаж:
                                    <span class="bold c-secondary">
                                        @model.Floor
                                    </span>
                                </p>
                            </div> <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <p class="c-secondary">
                                    Ниво на обзавеждане:
                                    <span class="bold c-secondary">
                                        @model.FurnishedLevel
                                    </span>
                                </p>
                            </div> <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <p class="c-secondary">
                                    Отопление:
                                    <span class="bold c-secondary">
                                        @model.Heating
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                @model.Description
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                        <iframe src=@($"https://maps.google.com/maps?q=%20{address},%20{Town}&t=&z=13&ie=UTF8&iwloc=&output=embed") width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Имейл</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Въведете имейл">
                                <small id="emailHelp" class="form-text text-muted">Никога няма да споделяме вашия имейл с никой друг.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Парола</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Парола">
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 20px">Изпрати</button>
                        </form>
                    </div>
                </div>

            </div>

        }
    </div>
    <RealEstate.Web.Client.Components.Footer></RealEstate.Web.Client.Components.Footer>
</div>
@code {

    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public string? Town { get; set; }
    private List<string> Images = new();
    private PropertyViewModel model = new();
    private int currentIndex = 0;
    string address = "Александровска";
    protected override async Task OnInitializedAsync()
    {
        Http = ClientFactory.CreateClient("RealEstate.Web.ServerAPI.NoAuthenticationClient");
        try
        {
            var response = await Http.GetFromJsonAsync<PropertyViewModel>($"Property/GetPropertiyById?Id={Id}");
            foreach (var item in response.ImagesUrls)
            {
                Images.Add(item.Url);
            }
            model = response;
        }
        catch (Exception)
        {

            throw;
        }
    }
    private void Next()
    {
        currentIndex = (currentIndex + 1) % Images.Count;
    }

    private void Previous()
    {
        currentIndex = (currentIndex - 1 + Images.Count) % Images.Count;
    }
}